.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.gitLink {
  color: white;
}

.App-header {
  background-color: #282c34;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerHeader {
  width: 100vw;
  max-width: 1024px;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}

.mapContainer {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mapInner {
  position: relative;
  height: calc(100vh - 50px);
  width: 100vw;
  box-shadow: 3px 0px 5px #3d4148, -3px 0px 5px #3d4148;
  max-width: 1024px;
}

.App-link {
  color: #61dafb;
}

.menu {
  position: absolute;
  top: 5px;
  right: 15px;
  z-index: 2;
  font-size: 26px;
  cursor: pointer;
}

.menuOpen {
  color: white;
}

.sidebar {
  position: absolute;
  right: 0;
  background-color: white;
  z-index: 1;
  width: 100vw;
  max-width: 450px;
  height: 100%;
  overflow-y: auto;
}

.description {
  padding: 10px;
}

.listItem {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

canvas {
  position: unset !important;
}
